# Data 
data/raw/*.csv
# data/processed/*.csv
data/processed/*.pkl
data/processed/*.joblib

# Models
# models/*.pkl
# models/*.joblib

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp

# OS
Thumbs.db
.DS_Store

# Environment
.env
venv/
env/